<footer>
    <div class="switch-mode">
    <a id="theme-toggle" onclick="modeSwitcher()" style="cursor: pointer;text-align: center;margin: auto; text-decoration: none;"></a>
    </div>
    <p class="bottom-text"><em>Jérémi Robitaille-Brassard</em> — 2020</p>
</footer>

<!--FOOTER CSS BEGINS -->

<style>
    .switch-mode{
    width: 11.7rem;
    position: fixed;
    transform: rotate(-90deg);
    top: calc(100vh / 2);
    left: -3.4rem;
    text-align: right;

    }
    
    .bottom-text{
        font-size: smaller;
        position: fixed;
        bottom: 10px;
        left: calc(100vw / 2);
        
    }

</style>